.col-md-5 img {
    width: 100%;
}

.flashes {
    color: red;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 5px pink;
    font-family: "Papyrus", "Brush Script MT", Fantasy;
}